header {
  padding: 2rem $gutter;
  h1 {
    font-size: 2rem;
  }
}

nav {
  ul {
    display: flex;

    li a:hover {
      color:$accentColor;
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}

// main

section {
  grid-template-columns: 1fr 1fr;
}
