$primaryColor: rgb(38, 50, 56);
$secondaryColor: rgb(226, 226, 226);
$accentColor:rgb(202, 72, 12);
$fontColor: #333;
$defaultFont:"Sometype Mono", serif;
$lightWeight:400;
$normalWeight:500;
$boldWeight:600;
$gutter: 16px;