$primaryColor: rgb(38, 50, 56);
$secondaryColor: rgb(200, 200, 200);
$accentColor:rgb(204, 85, 0);
$fontColor: #333;
$defaultFont:"Sometype Mono", serif;
$lightWeight:400;
$normalWeight:500;
$boldWeight:600;
$gutter: 16px;